*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: min(90vw, 400px);
  aspect-ratio: 1 / 1;
  height: 400px;
  margin: 2rem auto;
  border: 4px solid #666;
}

.cell {
  border: 2px solid #666;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

/* footer */
footer {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #666;
}
